<p-toast position="top-center" key="tc"></p-toast>
<div class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-8 ">
      <h3 class="text-color">
        Conexión a internet &nbsp; 
        <p-tag *ngIf="status" styleClass="p-mr-2" severity="success" value="ONLINE"></p-tag>
        <p-tag *ngIf="!status" severity="danger" value="OFFLINE"></p-tag>
      </h3>
    </div>
    <div class="p-field p-col-12 p-md-4 " *ngIf="!(router.url.includes('auth'))">
        <!-- (click)="sync()"  -->
          <button [disabled]="!status" icon="pi pi-spinner" pButton type="button"  label="Sincronizar"  class="p-mt-2 p-button-secondary"></button>
    </div>
</div>