


<div class="card myBg myCard p-m-4">
  <div class="p-grid p-mt-2">
    <div class="p-col-3">
      <h3 class="text-color">
        Conexión a internet &nbsp; 
        <p-tag *ngIf="status" styleClass="p-mr-2" severity="success" value="ONLINE"></p-tag>
        <p-tag *ngIf="!status" severity="danger" value="OFFLINE"></p-tag>
      </h3>
    </div>
    <div class="p-col-9">
      <h1 class="text-color">Formulario </h1>
        <div class="p-fluid p-formgrid p-grid text-color">
            <div class="p-field p-col">
            <label for="firstname2">Firstname</label>
            <input id="firstname2" type="text" pInputText> 
        </div>
        <div class="p-field p-col text-color">
            <label for="lastname2">Lastname</label>
            <input id="lastname2" type="text" pInputText> 
        </div>
      </div>
    </div>
  </div>
</div>